#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE MINUS>; };

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    behaviors {
        hold_preferred: hold_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_PREFERRED";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            hold-trigger-key-positions = <36 57 60 50>;
        };

        base: base {
            compatible = "zmk,behavior-hold-tap";
            label = "BASE";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65>;
            tapping-term-ms = <180>;
            flavor = "balanced";
            quick-tap-ms = <150>;
        };

        home_row_mod: home_row_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            require-prior-idle-ms = <125>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&none  &none             &none       &none            &none         &none                                       &none        &none              &none            &none            &none                 &none
&none  &kp Q             &kp W       &kp E            &kp R         &kp T                                       &kp Y        &kp U              &kp I            &kp O            &kp P                 &none
&none  &mt LCTRL A       &mt LGUI S  &mt RIGHT_ALT D  &mt LSHIFT F  &kp G        &none        &none             &kp H        &mt RIGHT_SHIFT J  &mt RIGHT_ALT K  &mt RIGHT_GUI L  &mt LCTRL MINUS       &none
&none  &mt LEFT_SHIFT Z  &kp X       &kp C            &kp V         &kp B        &bt BT_NXT   &kp PRINTSCREEN   &kp N        &kp M              &kp COMMA        &kp DOT          &mt RIGHT_SHIFT FSLH  &none
&none  &mo 4             &caps_word  &caps_word       &kp ESCAPE    &lt 1 LANG2  &lt 4 SPACE  &mt RSHIFT ENTER  &lt 2 LANG1  &none              &none            &none            &mo 4                 &none
            >;

            label = "base";
        };

        marks {
            bindings = <
&trans  &trans          &trans              &trans                     &trans                &trans                                              &trans             &trans            &trans         &trans                &trans                   &trans
&trans  &kp EXCL        &kp AT              &kp HASH                   &kp DOLLAR            &kp PERCENT                                         &kp CARET          &kp AMPERSAND     &kp ASTERISK   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &trans
&trans  &mt LCTRL TAB   &mt LEFT_GUI GRAVE  &mt RALT NON_US_BACKSLASH  &mt LEFT_SHIFT COLON  &kp SEMI          &trans  &trans                    &kp LEFT           &kp DOWN          &kp UP_ARROW   &kp RIGHT             &mt RCTRL EQUAL          &trans
&trans  &kp LEFT_SHIFT  &kp TILDE           &kp PIPE                   &trans                &kp LEFT_BRACKET  &trans  &trans                    &kp RIGHT_BRACKET  &kp SINGLE_QUOTE  &kp LESS_THAN  &kp GREATER_THAN      &mt LEFT_SHIFT QUESTION  &trans
&trans  &kp LEFT_SHIFT  &trans              &trans                     &trans                &kp N0            &trans  &mt LEFT_SHIFT BACKSPACE  &lt 3 TAB          &trans            &trans         &trans                &mt LEFT_SHIFT DELETE    &trans
            >;
        };

        nums {
            bindings = <
&trans  &trans          &trans        &trans                      &trans                        &trans                    &trans        &trans        &trans        &trans        &trans  &trans
&trans  &kp NUMBER_1    &kp NUMBER_2  &kp N3                      &kp N4                        &kp N5                    &kp N6        &kp N7        &kp N8        &kp N9        &kp N0  &trans
&trans  &kp LCTRL       &kp LEFT_GUI  &mt RIGHT_ALT LEFT_BRACKET  &mt LEFT_SHIFT RIGHT_BRACKET  &trans    &trans  &trans  &kp KP_COMMA  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans  &trans
&trans  &kp LEFT_SHIFT  &trans        &kp LEFT_BRACE              &kp RIGHT_BRACE               &trans    &trans  &trans  &kp PERIOD    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
&trans  &trans          &trans        &trans                      &trans                        &lt 3 N0  &trans  &trans  &kp TAB       &kp DEL       &trans        &trans        &trans  &trans
            >;
        };

        extra {
            bindings = <
&trans  &trans        &trans  &trans  &trans        &trans                        &trans           &trans         &trans       &trans   &trans   &trans
&trans  &kp F1        &kp F2  &kp F3  &kp F4        &kp F5                        &kp F6           &kp F7         &kp F8       &kp F9   &kp F10  &trans
&trans  &kp CAPSLOCK  &trans  &trans  &trans        &trans        &trans  &trans  &kp HOME         &kp PAGE_DOWN  &kp PAGE_UP  &kp END  &trans   &trans
&trans  &trans        &trans  &trans  &out OUT_BLE  &out OUT_USB  &trans  &trans  &kp PRINTSCREEN  &kp F11        &kp F12      &trans   &trans   &trans
&trans  &trans        &trans  &trans  &trans        &trans        &trans  &trans  &trans           &trans         &trans       &trans   &trans   &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans    &trans     &trans     &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans    &trans     &trans     &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB4  &mkp LCLK  &mkp RCLK  &mkp MB5  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans     &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans     &trans    &trans  &trans
            >;
        };
    };
};
