#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

// Auto Mouse Layer用のzip_temp_layer設定
&zip_temp_layer {
    excluded-positions = <
        // 左手モディファイアキー
        25 // A (tap:A / hold:Ctrl)
        26 // S (tap:S / hold:Cmd)  
        27 // D (tap:D / hold:Alt)
        28 // F (tap:F / hold:Shift)
        37 // Z (tap:Z / hold:Shift)
        // 右手その他モディファイアキー  
        36 // - (tap:- / hold:Ctrl) 右手小指
        47 // / (tap:/ / hold:Shift) 右手薬指下段
        55 // Enter (tap:Enter / hold:Shift) 右手親指
        // マウス関連キー
        32 // MB4 (マウスボタン4)
        53 // mo 5 (スクロールレイヤーアクセス1)
        56 // mo 5 (スクロールレイヤーアクセス2)
        // 注意: 右手ホームロー J(33), K(34), L(35) は除外
        // AML中はマウスクリック(LCLK/RCLK/MB5)として機能する
    >;
    require-prior-idle-ms = <200>; // キー入力中の誤爆防止（200ms）
};

&trackball_listener {
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layer 6 1000  // レイヤー6を1秒間アクティブ
    >;

	scroller {
	    layers = <5>;
        input-processors =
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_scroll_scaler 1 48>;
        process-next;
    };
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
