#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

// Auto Mouse Layer用のzip_temp_layer設定
&zip_temp_layer {
     excluded-positions = <
         // 左手モディファイアキー
         25 // A (tap:A / hold:Ctrl)
         26 // S (tap:S / hold:Cmd)  
         27 // D (tap:D / hold:Alt)
         28 // F (tap:F / hold:Shift)
         
         // 右手モディファイア・マウスクリックキー
         32 // H マウスの戻る
         33 // J (base:J/Shift / mouse:LCLK) ※AML中クリック可能  
         34 // K (base:K/Alt / mouse:RCLK) ※AML中クリック可能
         35 // L マウスの進む
         36 // - (hold:Ctrl)
     >;
    require-prior-idle-ms = <200>; // キー入力中の誤爆防止（200ms）
};

&trackball_listener {
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layer 4 10000
    >;

	scroller {
	    layers = <5>;
        input-processors =
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_scroll_scaler 1 48>;
        process-next;
    };
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
